<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  
  <link rel="stylesheet" href="static\css\home.css">
  <title>My Website</title>
</head>

<body>
  <script>
		window.watsonAssistantChatOptions = {
		  integrationID: "d8c5c59c-3e1f-4cfd-84dd-3d04dd0853cd", // The ID of this integration.
		  region: "us-south", // The region your integration is hosted in.
		  serviceInstanceID: "5ed71154-8ec7-49c1-8357-771d3f911d3b", // The ID of your service instance.
		  onLoad: function(instance) { instance.render(); }
		};
		setTimeout(function(){
		  const t=document.createElement('script');
		  t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
		  document.head.appendChild(t);
		});
	  </script>

  

  <!-- Contact Section -->
  <section id="contact">
    <div class="contact container">
      <div>
        <h1 class="section-title">Contact <span>info</span></h1>
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
          <div class="contact-info">
            <h1>Phone</h1>
            <h2>+1 234 123 1234</h2>
            <h2>+1 234 123 1234</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>dhiwaagar@gmail.com</h2>
            <h2>hariprasanth@gmail.com</h2>
            <h2>dhinagaran@gmail.com</h2>
            <h2>gowrisankar@gmail.com</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
          <div class="contact-info">
            <h1>Address</h1>
            <h2>xxxxx  xxxxx, yyyyyyy, zzzzzzz- 111000</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>E</span>xpense <span>T</span>racker</h1>
      </div>
      </div>
  </section>
  <!-- End Footer -->
 
</body>

</html>