<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
          background-image: url('static/images/limit.png');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }
        </style>
   

    <title>Document</title>
    
</head>
<body>

<p> Currently your MONTHLY limit is ₹ {{y}} </p>


<form action="/limitnum" method="POST">


    <h1 style="color:rgb(86, 27, 237) ;"></h1> ENTER the MONTHLY LIMIT to avoid over EXPENSES</p> <br/>
    <input type="number" name="number" required/> <span> 
        <button class="btn btn-warning" type="submit">ENTER</button>
    </span>
    



</form>


</body>
</html>